/*头部begin*/
.sina_top_bar {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.sina_top_inner {
  width: 1000px;
  height: 69px;
  margin: 0 auto;
}
.sina_top_bar_user .login .user_info_wrap .user_info_list .logo {
  float: left;
  margin-top: 14px;
}
.nav_list {
  float: right;
  line-height: 30px;
  margin: 22px -1px 0 0;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  font-size: 18px;
}
.nav_list a {
  display: inline-block;
  padding: 0 12px;
  color: #000;
}
.nav_list a:hover {
  color: #ff6c00;
}
.sina_top_bar_user {
  z-index: 10000;
  position: relative;
  float: left;
  height: 69px;
  font-size: 14px;
}
.sina_top_bar_user .logout {
  height: 36px;
  line-height: 36px;
  margin-left: 20px;
}
.sina_top_bar_user .thumb_default {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
}
.sina_top_bar_user .login_btn {
  color: #f8f0c7;
}
.sina_top_bar_user .login_btn:hover {
  color: #fff;
}
.sina_top_bar_user .register,
.sina_top_bar_user .register:hover {
  margin-left: 10px;
  color: #fff;
}
.sina_top_bar_user .login {
  display: none;
  height: 69px;
  /*min-width: 231px;*/
}
.sina_top_bar_user .login .user_info_wrap {
  position: relative;
  float: left;
  height: 55px;
  background: url(../../images/pages/bg.png) -467px -403px;
}
.sina_top_bar_user .login .user_info_wrap .user_info {
  height: 55px;
}
.sina_top_bar_user .login .user_info_wrap .user_info .thumb_user {
  overflow: hidden;
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}
.sina_top_bar_user .login .user_info_wrap .user_info .thumb_user img {
  width: 32px;
  height: 32px;
}
.sina_top_bar_user .login .user_info_wrap .user_info .u_ico {
  float: left;
  width: 8px;
  height: 4px;
  margin: 39px 0 0 9px;
  font-size: 0;
  line-height: 0;
}
.sina_top_bar_user .login .user_info_wrap .user_info_list {
  display: none;
  position: absolute;
  left: 0;
  top: 55px;
  width: 114px;
  border-bottom: none;
  text-align: center;
  background: #2e103c;
}
.sina_top_bar_user .login .user_info_wrap .user_info_list li {
  height: 35px;
  line-height: 35px;
  color: #f8f0c7;
  padding: 0 15px;
}
.sina_top_bar_user .login .user_info_wrap .user_info_list li a {
  display: block;
  color: #f8f0c7;
  width: 100%;
}
.sina_top_bar_user .login .user_info_wrap .user_info_list li:hover {
  background: #502e56;
}
.sina_top_bar_user .login .fill_tip {
  display: none;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 24px 0 0 10px;
}
.sina_top_bar_user .login .fill_tip a {
  color: #ff6c00;
}
.sina_top_bar_user .login .msg_wrap {
  display: none;
  position: relative;
  float: left;
  height: 55px;
}
.sina_top_bar_user .login .msg_wrap .msg {
  cursor: pointer;
  height: 39px;
  padding: 30px 15px 0 17px;
}
.sina_top_bar_user .login .msg_wrap .msg em {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding: 0 2px;
  margin-left: 3px;
  background: #ff6c00;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.sina_top_bar_user .login .msg_wrap .msg_list {
  display: none;
  position: absolute;
  right: 0;
  top: 55px;
  width: 144px;
  border: 1px solid #d6dbde;
  border-bottom: none;
  text-align: center;
  background: #fff;
}
.sina_top_bar_user .login .msg_wrap .msg_list li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #d6dbde;
}
.sina_top_bar_user .login .msg_wrap .msg_list li a {
  display: block;
  color: #000;
}
.sina_top_bar_user .login .msg_wrap .msg_list li a em {
  margin-left: 20px;
  color: #ff6c00;
}
.sina_top_bar_user .login .msg_wrap .msg_list li:hover {
  background: #f0f0f0;
}
.sina_top_bar_user .login .user_info_wrap.active .user_info .u_ico {
  background-position: 0 -6px;
}
.sina_top_bar_user .login .user_info_wrap.active .user_info_list,
.sina_top_bar_user .login .msg_wrap.active .msg_list {
  display: block;
}
.user_info_list li a {
  float: left;
}
.user_info_list li i {
  float: right;
}
/*头部end*/
/*头部 new*/
.sina_top_bar {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #3c1942;
  background: #1d0624;
}
.sina_top_inner {
  width: 1180px;
  height: 69px;
  margin: 0 auto;
}
.xuyuan_logo {
  background: url(../../images/pages/bg.png) -20px -423px;
  width: 250px;
  height: 50px;
  margin-top: 5px;
  float: left;
  position: relative;
}
.xuyuan_logo .aleft {
  width: 150px;
  display: block;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
}
.top_lnk {
  padding: 0 32px;
  font-size: 16px;
  color: #f8f0c7!important;
  height: 20px;
  line-height: 20px;
  border-right: 1px solid #3c1942;
  float: left;
}
.top_lnk:hover {
  color: #fff!important;
}
.xuyuan_bar {
  margin-top: 16px;
}
.xuyuan_bar1 {
  margin-top: 26px;
  margin-left: 40px;
}
.searchBar {
  height: 38px;
  line-height: 38px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
  padding: 0 12px;
  background: #fff;
  float: left;
}
.droplist li {
  width: 86px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.ds_cont {
  height: 32px;
  overflow: hidden;
  font-size: 16px;
  color: #666666;
  padding-left: 10px;
  cursor: pointer;
  background: url(../../images/pages/bg.png) -456px -287px;
}
.ds_list {
  margin-top: -1px;
  z-index: 2000;
  position: relative;
}
.sina_top_bar .dsl_cont {
  border-bottom: solid 1px #D2D2D2;
  border-top: none;
  max-height: 300px;
  background: #FFF;
  overflow-y: auto;
  overflow-x: hidden;
  color: #666;
  text-align: center;
  font-size: 16px;
  -webkit-border-radius: 0 0 24px 24px;
  -moz-border-radius: 0 0 24px 24px;
  -ms-border-radius: 0 0 24px 24px;
  -o-border-radius: 0 0 24px 24px;
  border-radius: 0 0 24px 24px;
}
.dsl_cont p {
  padding: 0 5px;
  border-bottom: solid 1px #dfdfdf;
  background-color: #fff;
  cursor: pointer;
}
.dsl_cont p.selected {
  background-color: #e8e8e8;
}
#search_type {
  width: 90px;
  height: 38px;
  line-height: 38px;
  float: left;
}
.searchText {
  width: 120px;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #D2D2D2;
  border-right: 1px solid #D2D2D2;
  float: left;
  margin-top: 10px;
}
.searchSubmit {
  width: 30px;
  height: 20px;
  float: left;
  background: url(../../images/pages/bg.png) -500px -360px;
  margin-top: 7px;
}
/*bottom*/
#uni_footer {
  width: 1180px;
  line-height: 28px;
  text-align: center;
  color: #999;
  font-size: 12px;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
}
#uni_footer a:link,
#uni_footer a:visited {
  color: #b5b5b5;
  text-decoration: none;
}
#uni_footer a:hover,
#uni_footer a:active {
  color: #c74c02;
  text-decoration: underline;
}
.searchBar .ds_cont {
  z-index: 10;
  position: relative;
}
.searchBar .ds_list {
  z-index: 2000;
  position: relative;
  width: 102px;
  left: -12px;
  padding-top: 20px;
  background-color: #fff;
  top: -15px;
  z-index: 1;
  -webkit-border-radius: 0 0 24px 24px;
  -moz-border-radius: 0 0 24px 24px;
  -ms-border-radius: 0 0 24px 24px;
  -o-border-radius: 0 0 24px 24px;
  border-radius: 0 0 24px 24px;
}
.dsl_cont p {
  padding: 0 5px;
  border-bottom: solid 1px #dfdfdf;
  background-color: #fff;
  cursor: pointer;
  line-height: 38px;
  font-size: 16px;
}
